* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@media only screen and (max-width: 767px) {
  #inicioFaro {
    height: 652.04px;
    background-image: url("/images/InicioFaro.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    #inicioFaro .cont-bienvenida {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%; }
      #inicioFaro .cont-bienvenida .texto-bienvenida {
        height: 187.76px;
        margin-top: 180px; }
      #inicioFaro .cont-bienvenida a {
        margin-top: 60px;
        margin-bottom: 20px; } }

.navbar {
  background-color: #012559 !important; }
  .navbar a {
    color: #FFFFFF; }
  .navbar .navbar-toggler {
    border-color: #FFFFFF; }
    .navbar .navbar-toggler .navbar-toggler-icon {
      line-height: 1.4rem;
      border-color: #FFFFFF;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

@media only screen and (max-width: 767px) {
  .redes {
    margin-top: 20px;
    display: flex;
    justify-content: space-around; } }
