#contenedorBanner-PreguntasFrec{
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url("/images/bannerPreguntasFrec.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height:460px;
}

#contenedorSecciones-PreguntasFrec{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    
    #contenedorVacunacion-PreguntasFrec{
        background-color: #0861AE;
        background-image: url("/images/backVacunacion-PreguntasFrec.png");
        background-repeat: no-repeat;
        
        
    }

    #contenedorDesparacitacion-PreguntasFrecuentes{
        background-color: #F4F4F4;
        background-image: url("/images/backLupa-PreguntasFrec.png");
        background-repeat: no-repeat;
        

       
    }

    #contenedorCastraciones-PreguntasFrec{
        background-color: #0861AE;
        background-image: url("/images/backEtetoscopio-PreguntasFrec.png");
        background-repeat: no-repeat;
    }
}