@mixin testimonios{
    padding-top: 5rem;
    padding-bottom: 11rem;
    background-image: url("/images/fondo-Seccion-Comentarios.png");
   background-position: center center;
   background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}




