@import "../base/typo.scss";
//MOBILE
footer{
    padding-top: 40px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #012559;
    .logo{
        margin-left: 1rem;
    }
    .containerLineaBlanca{
        display: flex;
        justify-content: center;
        padding: 40px 40px;
        hr{
            margin-bottom: 0;
            
            width: 100%;
            
            border: none; /* Elimina el borde predeterminado */
            border-top: 1px solid white; /* Crea una línea de 1px de ancho y color blanco */
        }
    }
    
    #contenedorInfo-Footer{
        margin: 30px 20px 0;
    }
}




@media only screen and (max-width:767px){
    #contenedorInfo-Footer{
        display: flex;
        flex-wrap: wrap;
        
        .contenedorBloqueInfo2-Footer{
            
            margin-left: 5px;
        }

        .bloqueDeInformacion{
            padding-bottom: 20px;
            .iconoInfo-Footer{
                display: flex;
                img{
                    height: min-content;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
            }
            .contTexto-Info{
                display: flex;
                align-items: center;
                margin-left: 10px;
                .pTexto-Info{
                    font-size: 15px;
                    margin: 0 0 0;
                    color:aliceblue;
                    strong{
                        color:aliceblue;
                    }
                }
                
            }
            .contTexto-Info2{
                margin-left: 10px;
                .pTexto-Info{
                    font-size: 15px;
                    margin: 0 0 0;
                    color:aliceblue;
                    strong{
                        color:aliceblue;
                        display: block;
                    }
                }
            }
        }
    }
    
    #formularioFooter{
        margin-top: 40px;
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span{
            margin-bottom: 10px;
            color: map-get($paleta-colores, "blanco" );
        }
        form{
            display: flex;
            flex-direction: column;
            .formBasico{
                margin-bottom: 20px;
                border-radius: 10px;
                padding: 0.8rem;
                width: 300px;
                height: 50px;
            }
            .formTextBasico{
                height: 80px;
            }
        }

        
        

        
    }
    #containerNav-Footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 40px;
        
        .navbar-Footer{
            color: map-get($paleta-colores, "blanco" );
            text-decoration: none;
           
            padding: 0px 10px;
            
            border-right: 1px solid  map-get($paleta-colores, "blanco" );
        }
    }
    
    &::placeholder{
        font-size: 20px;
        color: #012559;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }  
}



@media only screen and (min-width:768px) and (max-width:1199px){

    .contenedor_contenedorInfo-Footer_y_Formulario{
        display: flex;
        
        #contenedorInfo-Footer{
            width: 50%;
            display: flex;
            flex-direction: column;
            
            .contenedorBloqueInfo1-Footer{
                width: 50%;
                margin-right: 5px;
            }
            .contenedorBloqueInfo2-Footer{
                width: 50%;
                margin-left: 5px;
            }
    
            .bloqueDeInformacion{
                padding-bottom: 20px;
                .iconoInfo-Footer{
                    display: flex;
                    img{
                        height: min-content;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                }
                .contTexto-Info{
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                    .pTexto-Info{
                        font-size: 17px;
                        margin: 0 0 0;
                        color:aliceblue;
                        strong{
                            color:aliceblue;
                        }
                    }
                    
                }
                .contTexto-Info2{
                    margin-left: 10px;
                    .pTexto-Info{
                        width: 40vw;
                        font-size: 17px;
                        margin: 0 0 0;
                        color:aliceblue;
                        strong{
                            color:aliceblue;
                            display: block;
                        }
                    }
                }
            }
        }

        #formularioFooter{
            margin-top: 40px;
            padding-bottom: 20px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span{
                margin-bottom: 10px;
                color: map-get($paleta-colores, "blanco" );
            }
            form{
                display: flex;
                flex-direction: column;
                .formBasico{
                    margin-bottom: 20px;
                    border-radius: 10px;
                    padding: .8rem 1rem;
                    width: 300px;
                    height: 50px;
                }
                .formTextBasico{
                    height: 80px;
                }
            }
    
             
            
    
            
        }
    }
    
    #containerNav-Footer{
        display: flex;
        padding: 20px 40px;
        .navbar-Footer{
            color: map-get($paleta-colores, "blanco" );
            text-decoration: none;
            padding: 0px 10px;
            
            border-right: 1px solid  map-get($paleta-colores, "blanco" );
        }
    }
    &::placeholder{
        font-size: 20px;
        color: #012559;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
}


/**************************DESKTOP****************************/

@media only screen and (min-width:1200px){
    .contenedor_contenedorInfo-Footer_y_Formulario{
        display: flex;
        
        #contenedorInfo-Footer{
            width: 50%;
            display: flex;
            flex-direction: column;
            
            .contenedorBloqueInfo1-Footer{
                width: 50%;
                margin-right: 5px;
            }
            .contenedorBloqueInfo2-Footer{
                width: 50%;
                margin-left: 5px;
            }
    
            .bloqueDeInformacion{
                padding-bottom: 20px;
                .iconoInfo-Footer{
                    display: flex;
                    img{
                        height: min-content;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    
                }
                .contTexto-Info{
                    display: flex;
                    align-items: center;
                    margin-left: 10px;
                    .pTexto-Info{
                        font-size: 17px;
                        margin: 0 0 0;
                        color:aliceblue;
                        strong{
                            color:aliceblue;
                        }
                    }
                    
                }
                .contTexto-Info2{
                    margin-left: 10px;
                    .pTexto-Info{
                        width: 40vw;
                        font-size: 17px;
                        margin: 0 0 0;
                        color:aliceblue;
                        strong{
                            color:aliceblue;
                            display: block;
                        }
                    }
                }
            }
        }

        #formularioFooter{
            margin-top: 40px;
            margin-right: 8rem;
            padding-bottom: 20px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span{
                font-size: 20px;
                margin-bottom: 20px;
                color: map-get($paleta-colores, "blanco" );
            }
            form{
                display: flex;
                flex-direction: column;
                .formBasico{
                    margin-bottom: 20px;
                    border-radius: 10px;
                    padding: .8rem 1rem;
                    width: 400px;
                    height: 60px;
                }
                .formTextBasico{
                    height: 80px;
                }
            }
    
             
           
    
            
        }
        
    }
       
    #containerNav-Footer{
        display: flex;
        padding: 20px 40px;
        .navbar-Footer{
            color: map-get($paleta-colores, "blanco" );
            text-decoration: none;
            padding: 0px 10px;
            
            border-right: 1px solid  map-get($paleta-colores, "blanco" );
        }
    }

    &::placeholder{
        font-size: 20px;
        color: #012559;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
    }
}