

.contenedorNav{
    background: transparent;
    position: absolute;
    z-index: 1;
    width:100%;
     top: 0;
     left: 0;
     
     
     display: flex;
     justify-content: space-between;
     padding: 2rem;
     background-color: #012559;
 
     
 
     .logo{
        width: 25vw;
        max-width: 18rem;
        max-height: 18rem;
         align-items: center;

         
    }
 
    .abrir-menu{
        display: none;
    }
    .cerrar-menu{
        display: none;
    }
 
    
    .nav-list{
        list-style-type: none;
        gap: 1rem;
        display: flex;
        align-items: center;
        a{
            font-size: 1.5rem;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            text-decoration: none;
            color:#FFFFFF ; 
        }
        
    }
 
    .redes{
        
        display: flex;
        align-items: center;
        gap: 1rem;
        div{
            box-shadow: 4px 3px 10px;
            border-radius: 50%;
        }
    }
}


.efecto-1{
    transition: 1s;
}

.efecto-1:hover {
    transform: translateY(-3px) scale(1.1);
    

}

.active{
    color: orange !important;
}

 
@media only screen and (max-width:1036px){
 
     
    /*NAV HECHA A MANO */
    .contenedorNav{
         
        background-color: transparent;
        .abrir-menu{
            background: transparent;
            display: block;
            border: 0;
            font-size: 3rem;
             
            color: black;
            cursor: pointer;
             
        }

        .abrir-De-Menu{
            background: transparent;
            display: block;
            border: 0;
            font-size: 3rem;
            

            cursor: pointer;
            color: #FFFFFF;
        }
        .cerrar-menu{
             
            display: block;
            align-items: end;
            border: 0;
            font-size: 3rem;
            background-color: #012559;
            color: #FFFFFF;
            text-align: end;
            cursor: pointer;
        }
         
        .nav{
            position: absolute;
            opacity: 0;
            visibility: hidden;
 
             
            display: flex;
            gap: 1rem;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            flex-direction: column;
            background-color:#012559 ;
            padding: 2rem;
            overflow: hidden;
            
 
             
             
             
            .nav-list{
                flex-direction: column;
                align-items: end;
                li{
                    width: 100%;
                    border-bottom: 1px solid #FFFFFF;
        
                }
                 
            }
 
            .redes{
                align-items: center;
                justify-content: center;
                overflow: hidden;
            }
         }
 
        .visible{
            position: fixed;
            opacity: 1;
            visibility: visible;
            z-index: 1;
            overflow: hidden;
        }
 
    }
 
     
     
}



//TABLET

@media only screen and (min-width:1037px) and (max-width:1199px){
    .contenedorNav{
        background: transparent;
        position: absolute;
        width:100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        
     
         
     
        .logo{
            width: 15vw;
            max-width: 18rem;
            max-height: 18rem;
            align-items: center;
            justify-content: center;
    
             
        }
     
        .abrir-menu{
            display: none;
        }
        .cerrar-menu{
            display: none;
        }
        .nav{
            display: flex;
           
        }
        .nav-list{
            list-style-type: none;
            gap: 1rem;
            display: flex;
            align-items: center;
            margin-right: 2rem;
            .aNav{
                position: relative;
                font-size: 22px;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                text-decoration: none;
                color:#FFFFFF ; 
            }
        }
        .aNav:after{
            content:"";
            position: absolute;
            background-color: #FFFFFF;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -10px;
           transition: 0.3s;
        }
        .aNav:hover:after{
            width: 100%;
              
        }
     
        .redes{
            display: flex;
            align-items: center;
            gap: 1rem;
            img{
                height: 2rem;
            }
        }
    }
}

@media only screen and (min-width:1200px){
    .abrir-menu{
        display: none;
    }
    .cerrar-menu{
        display: none;
    }
    .contenedorNav{
        background: transparent;
        position: absolute;
        width:100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        padding: 2rem;
        
     
         
     
        .logo{
            width: 15vw;
            max-width: 18rem;
            max-height: 18rem;
            align-items: center;
            justify-content: center;
    
             
        }
     
        
        .nav{
            display: flex;
            width: 100%;
            justify-content: space-around;
        }
        .nav-list{
            list-style-type: none;
            gap: 1rem;
            display: flex;
            align-items: center;
            justify-content: start;
            
            .aNav{
                position: relative;
                font-size: 1.5rem;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                text-decoration: none;
                color:#FFFFFF ; 
            }
        }
        .aNav:after{
            content:"";
            position: absolute;
            background-color: #FFFFFF;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -10px;
           transition: 0.3s;
        }
        .aNav:hover:after{
            width: 100%;
              
        }
        
        
        .redes{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
           
            img{
                width: 2.5vw;
            }
        }
    }
    
}







 